{% extends "base.html" %} {% block title %}Register{%endblock%}
{%block content%}
<form method="POST">
    <h3 align="center"> Registration </h3>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter your email..."
        />
        <label for="fullName">Full Name</label>
        <input
            type="text"
            class="form-control"
            id="fullName"
            name="fullName"
            placeholder="Enter your Full Name..."
        />
        <label for="password">Password</label>
        <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter a secure password..."
        />
        <label for="passwordConfirm">Confirm Password</label>
        <input
            type="password"
            class="form-control"
            id="passwordConfirm"
            name="passwordConfirm"
            placeholder="Confirm your password..."
        />
        <div class="panel panel-primary">
    <div class="panel-heading">
      <h2 class="panel-title">Add your Address</h2>
    </div>
    <div class="panel-body">
      <input id="autocomplete" placeholder="Enter your address (auto-complete)" onFocus="geolocate()" type="text" class="form-control">
      <div id="address">
        <div class="row">
          <div class="col-md-6">
            <label class="control-label">Address Line 1</label>
            <input class="form-control" id="street_number" disabled="true">
          </div>
          <div class="col-md-6">
            <label class="control-label">Address Line 2</label>
            <input class="form-control" id="route" disabled="true">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="control-label">City</label>
            <input class="form-control field" id="locality" disabled="true">
          </div>
          <div class="col-md-6">
            <label class="control-label">County</label>
            <input class="form-control" id="administrative_area_level_1" disabled="true">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <label class="control-label">Postal Code</label>
            <input class="form-control" id="postal_code" disabled="true">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<button type="submit" class="btn btn-primary">Submit</button>
<script type="text/javascript" src="./static/js/auto-complete.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCEm1-Vnk8OeHE_R4TT5-Vn8SW7iaVvpfQ&libraries=places&callback=initAutocomplete"></script>
{%endblock%}
