{% extends "base.html" %} {% block title %}WGCCC - Subscriptions{%endblock%}
{%block content%}
    <div class='subs-header'>
        Subscriptions
    </div>

    <div class='seniors'>
        <h1>Senior Subscriptions</h1>
        <div class="product-container">
            <ul class='product-card'>
                <li class='name'>Senior Member</li>
                <li class='short_desc'>-</li>
                <li class='price'>£180.00</li>
                <li>
                    <form name='senior' method="POST">
                        <input type="hidden" id="senior" name="senior" value="senior">
                        <button id='checkout' class="btn btn-primary" type="submit">Checkout</button>
                    </form>
                </li>
            </ul>
            <ul class='product-card'>
                <li class='name'>Senior Member</li>
                <li class='short_desc'>(Unemployed / Full-Time Education)</li>
                <li class='price'>£90.00</li>
                <li>
                    <form name='senior_edu' method="POST">
                        <input type="hidden" id="senior_edu" name="senior_edu" value="senior_edu">
                        <button id='checkout' class="btn btn-primary" type="submit">Checkout</button>
                    </form>
                </li>
            </ul>
            <ul class='product-card'>
                <li class='name'>Social Member</li>
                <li class='short_desc'>-</li>
                <li class='price'>£20.00</li>
                <li>
                    <form name='social' method="POST">
                        <input type="hidden" id="social" name="social" value="social">
                        <button id='checkout' class="btn btn-primary" type="submit">Checkout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div class='juniors'>
        <h1>Junior Subscriptions</h1>
        <div class="product-container">
            <ul class='product-card'>
                <li class='name'>Junior Member</li>
                <li class='short_desc'>*social membership included</li>
                <li class='price'>£135.00</li>
                <li>
                    <form name='junior' method="POST">
                        <input type="hidden" id="junior" name="junior" value="junior">
                        <button id='checkout' class="btn btn-primary" type="submit">Checkout</button>
                    </form>
                </li>
            </ul>
            <ul class='product-card'>
                <li class='name'>Junior Member (up to 7/8 years old)</li>
                <li class='short_desc'>*social membership included</li>
                <li class='price'>£80.00</li>
                <li>
                    <form name='junior_dev' method="POST">
                        <input type="hidden" id="junior_dev" name="junior_dev" value="junior_dev">
                        <button id='checkout' class="btn btn-primary" type="submit">Checkout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>

{%endblock%}
