{% extends "base.html" %} {% block title %}WGCCC - Subscriptions{%endblock%}
{%block content%}
    <div class='subs-header'>
        Subscriptions
    </div>
    <ul class='products'>
        <li>
            <strong>Senior Member</strong><br>
            £180.00
            <form name='senior' method="POST">
                <input type="hidden" id="senior" name="senior" value="senior">
                <button class="btn btn-primary" type="submit">Checkout</button>
            </form>
        </li>
        <li>
            <strong>Junior Member</strong><br>
            £135.00
            <form name='junior' method="POST">
                <input type="hidden" id="junior" name="junior" value="junior">
                <button class="btn btn-primary" type="submit">Checkout</button>
            </form>
        </li>
    </ul>

{%endblock%}
