{% extends "base.html" %} {% block title %}WGCCC - Subscriptions{%endblock%}
{%block content%}
    <div class='seniors'>
        <h1>Senior Subscriptions</h1>
        <div class="product-container">
            <ul class='product-card'>
                <li class='name'>Senior Member</li>
                <li class='short_desc'>*social membership included</li>
                <li class='price'>£180.00</li>
                <li>
                    <form name='senior' method="POST">
                        <input type="hidden" id="senior" name="senior" value="senior">
                        <button id='checkout' class="btn btn-primary" type="submit">Checkout</button>
                    </form>
                </li>
            </ul>
            <ul class='product-card'>
                <li class='name'>Senior Member</li>
                <li class='short_desc'>(Unemployed / Full-Time Education)</li>
                <li class='price'>£90.00</li>
                <li>
                    <form name='senior_edu' method="POST">
                        <input type="hidden" id="senior_edu" name="senior_edu" value="senior_edu">
                        <button id='checkout' class="btn btn-primary" type="submit">Checkout</button>
                    </form>
                </li>
            </ul>
            <ul class='product-card'>
                <li class='name'>Social Member</li>
                <li class='short_desc'>-</li>
                <li class='price'>£20.00</li>
                <li>
                    <form name='social' method="POST">
                        <input type="hidden" id="social" name="social" value="social">
                        <button id='checkout' class="btn btn-primary" type="submit">Checkout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
    <div class='juniors'>
        <div class="modal">
            <div class="modal-content">
                <div class='modal-header'>
                    <h2>Junior Subscription</h2>
                    <span class="close">&times;</span>
                </div>
                <div class='modal-body'>
                    <form name='junior' method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label" for="junior_first_name">Child's First Name <span class='required'>*</span></label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="junior_first_name"
                                    name="junior_first_name"
                                    placeholder="Enter your Child's First Name..."
                                />
                            </div>
                            <div class="col-md-6">
                                <label class="control-label" for="junior_family_name">Child's Family Name <span class='required'>*</span></label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="junior_family_name"
                                    name="junior_family_name"
                                    placeholder="Enter your Child's Surname..."
                                />
                            </div>
                        </div>
                        <div class='row'>
                            <div class="col-md-6">
                                <label class="control-label" for="junior_dob">Child's Date of Birth <span class='required'>*</span></label>
                                <input
                                    type="date"
                                    class="form-control"
                                    id="junior_dob"
                                    name="junior_dob"
                                />
                            </div>
                        </div>
                        <input type="hidden" id="junior" name="junior" value="junior">
                        <button id='checkout' class="btn btn-primary" type="submit">Checkout</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal">
            <div class="modal-content">
                <div class='modal-header'>
                    <h2>Junior Subscription - up to 7/8 years old</h2>
                    <span class="close">&times;</span>
                </div>
                <div class='modal-body'>
                    <form name='junior_dev' method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <label class="control-label" for="junior_first_name">Child's First Name <span class='required'>*</span></label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="junior_first_name"
                                    name="junior_first_name"
                                    placeholder="Enter your Child's First Name..."
                                />
                            </div>
                            <div class="col-md-6">
                                <label class="control-label" for="junior_family_name">Child's Family Name <span class='required'>*</span></label>
                                <input
                                    type="text"
                                    class="form-control"
                                    id="junior_family_name"
                                    name="junior_family_name"
                                    placeholder="Enter your Child's Surname..."
                                />
                            </div>
                        </div>
                        <div class='row'>
                            <div class="col-md-6">
                                <label class="control-label" for="junior_dob">Child's Date of Birth <span class='required'>*</span></label>
                                <input
                                    type="date"
                                    class="form-control"
                                    id="junior_dob"
                                    name="junior_dob"
                                />
                            </div>
                        </div>
                        <input type="hidden" id="junior_dev" name="junior_dev" value="junior_dev">
                        <button id='checkout' class="btn btn-primary" type="submit">Checkout</button>
                    </form>
                </div>
            </div>
        </div>
        <h1>Junior Subscriptions</h1>
        <div class="product-container">
            <ul class='product-card'>
                <li class='name'>Junior Member</li>
                <li class='short_desc'>*social membership included</li>
                <li class='price'>£135.00</li>
                <li><button class="btn btn-primary openmodal">Options</button></li>
            </ul>
            <ul class='product-card'>
                <li class='name'>Junior Member (up to 7/8 years old)</li>
                <li class='short_desc'>*social membership included</li>
                <li class='price'>£80.00</li>
                <li><button class="btn btn-primary openmodal">Options</button></li>
            </ul>
        </div>
    </div>

{%endblock%}
