html {
	scroll-behavior: smooth;
	min-width:100%;
}

body {
	background-color: white
}

a {
	color: inherit;
}

#banner {
	background-color: darkgreen;
    background-image: url("img/topbanner.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
#banner .banner-text{
	font-size: 3vw;
	text-decoration: none;
	color: white;
	-webkit-text-stroke: 0.5px black;
}

.banner-text img{
	height: 80px;
	width: auto;
}

.navbar{
  	position: sticky !important;
  	top: 0 !important;
  	padding: 0;
	background: darkgreen;
}

.navbar .nav-link.active {
    color: #fff !important;
}

.navbar-nav{
	font-size: 1.5vw;
	margin-left: 5% !important;
}

/* THESE NAV ITEMS ARE DEFAULT AS SOON AS YOU ENTER THE WEBSITE*/
.navbar-nav .nav-item.nav-link{
	transition: all 0.4s;
	margin-left: 10% !important;
}

.navbar-brand{
	margin-inline-start: 5% !important;
	-webkit-text-stroke: 0.5px black;
}

#copyright {
  	text-align: center;
	font-size: 1vw;
}

#copyright img.python-logo{
	height: 1vw;
	width: auto;
}
