:root {
	--white: #fff;
	--black: #000000;
	--red: red;
	--background: darkgreen;
}

html {
	scroll-behavior: smooth;
	min-width:100%;
}

body {
	background-color: grey
}

a {
	color: inherit;
}

#banner {
	background-color: var(--background);
    background-image: url("img/topbanner.jpg");
    background-repeat: no-repeat;
    background-position: center;
	padding-bottom: 10px
}
#banner .banner-text{
	font-size: 3vw;
	text-decoration: none;
	color: var(--white);
	-webkit-text-stroke: 0.5px var(--black);
	margin-inline-start: 5% !important;
}

.logo {
    width: auto;
    height: 15%;
    padding: 10px;
}

.navbar{
  	position: sticky !important;
  	top: 0 !important;
  	padding: 0;
}

.navbar .nav-link.active {
    color: var(--white) !important;
}

.navbar-nav{
	font-size: 1.5vw;
	margin-left: 5% !important;
}

/* THESE NAV ITEMS ARE DEFAULT AS SOON AS YOU ENTER THE WEBSITE*/
.navbar-nav .nav-item.nav-link{
	transition: all 0.4s;
	margin-left: 10% !important;
}

.navbar-nav.ml-auto{
	padding-right: 5%;
}

.navbar-toggler{
	margin-left: 1% !important;
}

.greeting{
	font-size: 1vw;
	text-align: right;
	color: var(--white);
	padding-right: 10px
}

/* Modal Header */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  overflow: auto; /* Enable scroll if needed */
  background-color: var(--black); /* Fallback color */
  background-color: rgba(var(--black),0.4); /* Black w/ opacity */
}

.modal-header {
  padding: 2px 16px;
  background-color: var(--success);
  color: var(--white);
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: var(--success);
  color: var(--white);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 20% auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(var(--black),0.2),0 6px 20px 0 rgba(var(--black),0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-body button{
	float: right;
	margin-bottom: 5px;
}

.close {
  color: var(--black);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--black);
  text-decoration: none;
  cursor: pointer;
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.form-group {
	width: 70% !important;
	margin-left: 15% !important;
}

.auth-submit {
	margin-left: 15% !important;
}

.required {
	color: var(--red);
}

.subs-header {
	font-size: 2vw;
	font-weight: bold;
	text-align: center;
	padding-bottom: 30px;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

.product-card {
    flex: 1 20%;
    text-align: center;
	list-style-type: none;
    border: 1px solid #eee;
	background: var(--white);
    padding: 5px;
}

.product-card:hover{
	opacity: 0.9
}

.product-card .name{
	font-weight: bold;
}

.product-card .short_desc{
	font-size: 15px;
}

.product-card .price{
	font-size: 25px;
}

.product-card button{
	width: 80%
}

@media (max-width: 991.98px) {
	.navbar-nav .nav-item.nav-link {
		margin-left: 5% !important;
    	color: var(--white) !important;
		font-size: 3vw !important;
	}

	#banner .banner-text{
		font-size: 4.5vw !important;
	}

	.logo {
	    width: auto;
	    height: 10%;
	    padding: 10px;
	}

	.product-card {
		flex-direction: column;
	}

	#copyright {
	  	text-align: center;
		font-size: 2vw;
	}

}

#copyright {
  	text-align: center;
	font-size: 1vw;
}
