html {
	scroll-behavior: smooth;
	min-width:100%;
}

body {
	background-color: white
}

a {
	color: inherit;
}

#banner {
	background-color: darkgreen;
    background-image: url("img/topbanner.jpg");
    background-repeat: no-repeat;
    background-position: center;
	padding-bottom: 10px
}
#banner .banner-text{
	font-size: 3vw;
	text-decoration: none;
	color: white;
	-webkit-text-stroke: 0.5px black;
	margin-inline-start: 5% !important;
}

.logo {
    width: auto;
    height: 15%;
    padding: 10px;
}

.navbar{
  	position: sticky !important;
  	top: 0 !important;
  	padding: 0;
}

.navbar .nav-link.active {
    color: #fff !important;
}

.navbar-nav{
	font-size: 1.5vw;
	margin-left: 5% !important;
}

/* THESE NAV ITEMS ARE DEFAULT AS SOON AS YOU ENTER THE WEBSITE*/
.navbar-nav .nav-item.nav-link{
	transition: all 0.4s;
	margin-left: 10% !important;
}

.navbar-toggler{
	margin-left: 1% !important;
}

@media (max-width: 991.98px) {
	.navbar-nav .nav-item.nav-link {
		margin-left: 5% !important;
    	color: #fff !important;
		font-size: 2vw !important;
	}

	#banner .banner-text{
		font-size: 4vw !important;
	}

	.logo {
	    width: auto;
	    height: 10%;
	    padding: 10px;
	}
}
#copyright {
  	text-align: center;
	font-size: 1vw;
}

#copyright img.python-logo{
	height: 1vw;
	width: auto;
}
